@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    max-width: 100vw; 
    overflow: hidden; 
    border-radius: 0; 
    box-shadow: none; 
    
}

.options {
    background-color: #eeeeee;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    z-index: 2; 
}

button{
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

select{
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}

.options label,
.options select{
    font-family: 'Poppins', sans-serif;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}


#text-input {
    flex-grow: 1; 
    padding: 20px;
    border: none;
    outline: none;
    resize: none; 
    margin-top: 0; 
    background-color: transparent;
}

.active{
    background-color: #e0e9ff;
}

.option-button {
    position: relative;
}

.option-button::after {
    content: attr(title);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;   
}

.option-button:hover::after {
    visibility: visible;
    opacity: 1;
}

.word-count{
    margin-top: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#document-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
    background-color: #eee;
  }

  .toolbar-opened {
    height: auto;
    overflow: visible;
    transition: height 0.3s ease-in-out;
}

.toolbar-closed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
#toggleDrawer {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures it sits above other elements */
    background-color: rgba(255, 255, 255, 0.5);
}

.button-active {
    background-color: #8f8f8fd6;
}

